<div class="outer-cont">

  <div class="content-cont">

    <%= button_to 'Free Trial',  free_trial_path, method: 'get' %>

    <%= button_to 'Rollover',  rollover_path, method: 'get' %>

    <%= button_to 'Freemium',  freemium_path, method: 'get' %>

  </div>

</div>